.customContainer {
  width: 95%;
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
  font-family: "-webkit-body";
}

.header {
  border-radius: 20px;
  position: relative;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 100%;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.waveContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.waveShape {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.customH1 {
  font-size: 3.2rem;
  position: relative;
  z-index: 3;
}

.customP {
  font-size: 0.7rem;
  position: relative;
  z-index: 3;
}
@media (max-width: 1200px) {
  .customH1 {
    font-size: 2.8rem;
  }
  .customP {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .customH1 {
    font-size: 2.5rem;
  }
  .customP {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .customH1 {
    font-size: 2.2rem;
  }
  .customP {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .customH1 {
    font-size: 2rem;
  }
  .customP {
    font-size: 1.2rem;
  }
}
