.background {
  background-color: #0b0d45;
  margin-left: 0;
  margin-right: 0;
}
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  max-width: 250px;
  background-color: #1c1f60;
  border: none;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardOverlay {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
  padding-bottom: 20px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardText {
  font-size: 1rem;
}
