.container {
  display: flex;
  justify-content: center;
}

.mainContant {
  width: 55%;

  h2 {
    color: var(--text-color);
    padding: 6% 0 2% 0;
    font-weight: 600;
    font-size: 2rem;
  }

  p {
    color: #11115cc9;
    font-weight: 400;
  }

  li {
    color: #11115cc9;

    &::marker {
      color: #eb662b;
    }
  }

  .note {
    background-color: var(--footer-background);
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;

    i {
      font-size: 2.8rem;
      color: #eb662b;
      transform: rotate(4deg);
      padding: 0 15px;
    }

    p {
      font-weight: 600;
      margin-top: 20px;
    }
  }

  .tripImg {
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    p {
      margin-top: 10px;
    }
  }

  .social {
    margin: 2% 0;

    .icons {
      gap: 20px;

      .icon {
        background-color: var(--footer-background);
        padding: 17px 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 1.4rem;
        }
      }
    }

    .skills {
      .adv {
        a {
          text-decoration: none;
          color: var(--text-color);
          border: 1px solid #e4e4e4;
          border-radius: 25px;
          padding: 5px 13px;

          &:hover {
            background-color: #e4e4e4;
            color: var(--text-color);
            font-weight: 500;
          }
        }
      }
    }
  }

  .btnSubmit {
    background-color: #eb662b;
    border-color: #eb662b;
    padding: 10px 0;
    color: white;
    &:hover {
      background-color: #993e18;
      border-color: #da9a7f;
      color: white;
    }
    i {
      transform: rotate(45deg);
    }

    &:disabled {
      background-color: #b27053d2;
      border-color: #b27053d2;
      color: white;
    }
  }
}

.hr {
  border: 1px solid #e4e4e4 !important;
  margin: 5% 0;
}

@media (max-width: 992px) and (min-width: 577px) {
  .mainContant {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .mainContant {
    width: 90%;
  }
}
